<hr/>
<div id="footer-container">
    <footer>
        <a href="../license" target="_blank">版权申明</a>
        <br/>
        <a href="../robots.txt" target="_blank">机器人协议</a>
    </footer>
    <div style="height: 80px;"></div>
    {% include translateText.html %}
    <script>
        execute();
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll("select").forEach((select) => {
                select.addEventListener('mouseenter', function () {
                    select.multiple = "multiple";
                })
                select.addEventListener('mouseleave', function () {
                    select.multiple = "";
                })
                select.addEventListener('change', function () {
                    select.multiple = "";
                })
            });
        })
    </script>
</div>